<h4>PHIM ĐỀ CỬ</h4>
<div id="slide">
    <div ng-controller="slide_controller" slide></div>
</div>
<!-- STRAT CỘT 1 -->
<div class="row1">
    <h4>PHIM ĐỀ CỬ</h4>
    <ul>
        <li ng-repeat="film in films" class="film"  >
            <div class="image">
                <img src="assets/image/hinhanhphim/{{film.hinhanh1}}" alt="" width="159" height="275" />
            </div>
            <div class="info">
                <div class="title">
                    <a title="{{film.tenphim_tiengviet}}" href="#/thongtinphim/{{film._id}}">{{film.tenphim_tiengviet.slice(0,20)+"..."}}</a>
                </div>
                
                <div class="sub-title">
                    <a title="{{film.tenphim_tiengviet}}" href="#/thongtinphim/{{film._id}}" >{{film.tenphim_tienganh}}</a>
                </div>
                <p>{{film.sophut}} phut</p>
            </div>
        </li> 
    </ul>
<div style="clear: both"></div>
<h4>PHIM MỚI CẬP NHẬT</h4>
<ul>
     <li class="film" ng-repeat="film in films">
        <div class="image">
            <img src="assets/image/hinhanhphim/{{film.hinhanh1}}" alt="" width="159" height="275" />
        </div>
        <div class="info">
            <div class="title">
                <a title="{{film.tenphim_tiengviet}}" href="#">{{film.tenphim_tiengviet.slice(0,20)+"..."}}</a>
            </div>
            
            <div class="sub-title">
                <a title="{{film.tenphim_tiengviet}}" href="#" >{{film.tenphim_tienganh}}</a>
            </div>
            <p>{{film.sophut}} Phút</p>
        </div>
    </li>
    
</ul>
</div>