<div class="row1">
    <div id="dangki">
        <form class="form-horizontal">
            <div class="form-group" >
                <label for="inputEmail3" class="col-sm-3 control-label">Tài Khoản</label>
                <div class="col-sm-7">
                    <input ng-model="taikhoan" type="text" class="form-control" id="inputEmail3" placeholder="Tài khoản">
                    {{taikhoan}}
                </div>
                <div class="col-sm-offset-3"></div>
            </div>
            
            <div class="form-group " >
                <label for="inputPassword3" class="col-sm-3 control-label">Mật Khẩu</label>
                <div class="col-sm-7">
                    <input ng-model="matkhau" type="password" class="form-control" id="inputPassword3" placeholder="Mật Khẩu">
                    {{matkhau}}
                    
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Xác Nhận Mật Khẩu</label>
                <div class="col-sm-7">
                    <input ng-model="xacnhanmatkhau" type="password" class="form-control" id="inputPassword3" placeholder="Xác Nhận Mật Khẩu">
                    {{xacnhanmatkhau}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Họ Tên</label>
                <div class="col-sm-7">
                    <input ng-model="hoten" type="password" class="form-control" id="inputPassword3" placeholder="Họ Tên">
                    {{hoten}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-7">
                    <input ng-model="email" type="text" class="form-control" id="inputPassword3" placeholder="Email">
                    {{email}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Số Điện Thoại</label>
                <div class="col-sm-7">
                    <input ng-model="sdt" type="number" class="form-control" id="inputPassword3" placeholder="Số Điện Thoại">
                    {{sdt}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Nơi ở hiện tại </label>
                <div class="col-sm-7">
                    <input ng-model="noiohientai" type="text" class="form-control" id="inputPassword3" placeholder="Nơi ở hiện tại">
                    {{noiohientai}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>

                <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Hình đại diện </label>
                <div class="col-sm-7">
                    <input ng-model="myFile" type="file" class="form-control" id="inputPassword3" placeholder="Nơi ở hiện tại">
                    {{myFile}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>

            <div class="form-group" >
                <label for="inputPassword3" class="col-sm-3 control-label">Ngày Sinh</label>
                <div class="col-sm-7">
                    <input ng-model="ngaysinh" type="date" class="form-control" id="inputPassword3" placeholder="Ngày Sinh">
                    {{ngaysinh}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            <div class="form-group" >
                <label for="inputPassword3" class="col-sm-3 control-label">Giới Tính</label>
                <div class="col-sm-7">
                    <label class="checkbox-inline" style="padding-left:0px">
                        <input ng-model="gioitinh" type="radio" name="register[gender]" id="register-gender-male" value="nam" checked=""> Nam
                        
                    </label>
                    <label class="checkbox-inline">
                        <input ng-model="gioitinh" type="radio" name="register[gender]" id="register-gender-female" value="nu"> Nữ
                    </label>
                        {{gioitinh}}
                </div>
                <div class="col-sm-offset-2"></div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-3 col-lg-9">
                    <button ng-disabled="disable()" ng-click="dangki()" type="submit" class="btn btn-primary">Đăng Ký</button>

                </div>
            </div>
        </form>
    </div>
</div>