
<div id="wapper">
    <!-- START HEARDER -->
    <div header></div>
    <!-- END HEARDER -->
    <div class="line_hearder"></div>
    
    <!-- START MENU -->
    <div menu></div>
    <!-- END HEARDER -->

    
    <!-- START CONTENT -->
    <div id="content">
        <div class="row1">
            <div id="dangnhap">
                 <div id="duongdan">
                    <a href="#">PHIM MỚI</a>
                    <span>/</span>
                    <a href="#">PHIM LẺ</a>/
                    <span>/</span>
                    <a href="#">PHIM HÀNH DỘNG</a>/
                </div>
                <form class="form-horizontal" ng-submit="submit()">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Tài Khoản</label>
                        <div class="col-sm-5">
                            <input  type="text" placeholder="Tài Khoản" ng-model="taikhoan" class="form-control" ng-change="change()">
                        </div>
                        
                        <div class="col-sm-4">
                            <a class="dangnhapface"></a>
                        </div>
                        <div class="col-sm-offset-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-5">
                            <input ng-change="change()" type="password" ng-model="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" > nghi nhớ
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-offset-1"></div>
                    </div>
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-lg-10">
                            <button ng-disabled ="disable()" type="submit" class="btn btn-primary">Đăng Nhập</button>
                            <button type="button" class="btn btn-default" >Quên mật khẩu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
         <div class="row2">
            <div class="tieude">
                <h2 class="right-box-header star-icon"><span>Trailer phim mới</span></h2>
            </div>
            <div class="trailer_pm">
                <ul>
                    <li ng-repeat="film in films">
                        <a href="#">
                            <div class="trailer_pm_img">
                                <img src="image/hinhanhphim/thanhxuanvatva.jpg" width="96" height="129" />
                            </div>
                            <div class="trailer_pm_info">
                                <div class="trailer_pm_info_title">
                                    <span>{{film.tenphim_tiengviet}}</span>
                                </div>
                                <div class="trailer_pm_info_etitle">
                                    <p>{{film.tenphim_tienganh}}</p>
                                </div>
                                <div class="trailer_pm_info_sl">
                                    Lượt xem: 2,345,666
                                </div>
                                <span class="rate-vote rate-vote-10"></span>
                            </div>
                            <div class="line">
                            </div>
                        </a>
                    </li>
                    
                
                </ul>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <!-- END CONTENT -->
    
    <!-- START FOOTER -->
    <div footer></div>
    <!-- END FOORTER -->
</div>