
<div id="wapper">
    <!-- START HEARDER -->
    <div header></div>
    <!-- END HEARDER -->
    <div class="line_hearder"></div>
    
    <!-- START MENU -->
    <div menu></div>
    <!-- END HEARDER -->

    
    <!-- START CONTENT -->
        <div id="content">
        	 <div id="duongdan">
        		<a href="#">PHIM MỚI</a>
                <span>/</span>
                <a href="#">PHIM LẺ</a>/
                <span>/</span>
                <a href="#">PHIM HÀNH DỘNG</a>/
            </div>
            <div class="row1">
                <div id="dangki">
                    <form class="form-horizontal">
                        <div class="form-group" >
                            <label for="inputEmail3" class="col-sm-3 control-label">Tài Khoản</label>
                            <div class="col-sm-7">
                                <input ng-model="taikhoan" type="text" class="form-control" id="inputEmail3" placeholder="Tài khoản">
                                {{taikhoan}}
                            </div>
                            <div class="col-sm-offset-3"></div>
                        </div>
                        
                        <div class="form-group " >
                            <label for="inputPassword3" class="col-sm-3 control-label">Mật Khẩu</label>
                            <div class="col-sm-7">
                                <input ng-model="matkhau" type="password" class="form-control" id="inputPassword3" placeholder="Mật Khẩu">
                                {{matkhau}}
                                
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Xác Nhận Mật Khẩu</label>
                            <div class="col-sm-7">
                                <input ng-model="xacnhanmatkhau" type="password" class="form-control" id="inputPassword3" placeholder="Xác Nhận Mật Khẩu">
                                {{xacnhanmatkhau}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Họ Tên</label>
                            <div class="col-sm-7">
                                <input ng-model="hoten" type="password" class="form-control" id="inputPassword3" placeholder="Họ Tên">
                                {{hoten}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-7">
                                <input ng-model="email" type="text" class="form-control" id="inputPassword3" placeholder="Email">
                                {{email}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Số Điện Thoại</label>
                            <div class="col-sm-7">
                                <input ng-model="sdt" type="number" class="form-control" id="inputPassword3" placeholder="Số Điện Thoại">
                                {{sdt}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Nơi ở hiện tại </label>
                            <div class="col-sm-7">
                                <input ng-model="noiohientai" type="text" class="form-control" id="inputPassword3" placeholder="Nơi ở hiện tại">
                                {{noiohientai}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>

                         <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Hình đại diện </label>
                            <div class="col-sm-7">
                                <input ng-model="myFile" type="file" class="form-control" id="inputPassword3" placeholder="Nơi ở hiện tại">
                                {{myFile}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>

                        <div class="form-group" >
                            <label for="inputPassword3" class="col-sm-3 control-label">Ngày Sinh</label>
                            <div class="col-sm-7">
                                <input ng-model="ngaysinh" type="date" class="form-control" id="inputPassword3" placeholder="Ngày Sinh">
                                {{ngaysinh}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        <div class="form-group" >
                            <label for="inputPassword3" class="col-sm-3 control-label">Giới Tính</label>
                            <div class="col-sm-7">
                                <label class="checkbox-inline" style="padding-left:0px">
                                    <input ng-model="gioitinh" type="radio" name="register[gender]" id="register-gender-male" value="nam" checked=""> Nam
                                   
                                </label>
                                <label class="checkbox-inline">
                                    <input ng-model="gioitinh" type="radio" name="register[gender]" id="register-gender-female" value="nu"> Nữ
                                </label>
                                 {{gioitinh}}
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-lg-9">
                                <button ng-disabled="disable()" ng-click="dangki()" type="submit" class="btn btn-primary">Đăng Ký</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
             <div class="row2">
                <div class="tieude">
                    <h2 class="right-box-header star-icon"><span>Trailer phim mới</span></h2>
                </div>
                <div class="trailer_pm">
                    <ul>
                        <li ng-repeat="film in films">
                            <a href="#">
                                <div class="trailer_pm_img">
                                    <img src="image/hinhanhphim/thanhxuanvatva.jpg" width="96" height="129" />
                                </div>
                                <div class="trailer_pm_info">
                                    <div class="trailer_pm_info_title">
                                        <span>{{film.tenphim_tiengviet}}</span>
                                    </div>
                                    <div class="trailer_pm_info_etitle">
                                        <p>{{film.tenphim_tienganh}}</p>
                                    </div>
                                    <div class="trailer_pm_info_sl">
                                        Lượt xem: 2,345,666
                                    </div>
                                    <span class="rate-vote rate-vote-10"></span>
                                </div>
                                <div class="line">
                                </div>
                            </a>
                        </li>
                        
                    
                    </ul>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    
    <!-- START FOOTER -->
    <div footer></div>
    <!-- END FOORTER -->
</div>