
<a id="prevTop" class="prev" rel="nofollow" style="display: block;">
    <span class="arrow-icon left"></span>
</a>
<a id="nextTop" class="next" rel="nofollow" style="display: block;">
    <span class="arrow-icon right"></span>
</a>
<ul>
    <li ng-repeat="film in films">
        <div class="slide-film">
            <div class="slide-image"><img src="assets/image/hinhanhphim/{{film.hinhanh1}}" width="225" height="300" /></div>
            <div class="slide-bg">
            </div>
            <div class="slide-title">
                <span><a title="{{film.tenphim_tiengviet}}" href="#/thongtinphim/{{film._id}}">{{film.tenphim_tiengviet.slice(0,16)+"..."}}</a></span>
                <p>{{film.tenphim_tienganh}}</p>
            </div>
        </div>
    </li>
</ul>
</div>