<div id="footer" class="row">
    <div class="info-footer">
        <div class="logo col-md-3">
            <h3>PhimVip<span>.Com</span></h3>
            <span>Xem Phim Mới Chất Lượng Cao</span>
        </div>
        <div class="col-md-2"><p>Phim Mới</p>
            <ul>
                <li><a href="#">Phim le moi</a></li>
                <li><a href="#">Phim le moi</a></li>
                <li><a href="#">Phim le moi</a></li>
                <li><a href="#">Phim le moi</a></li>
                <li><a href="#">Phim le moi</a></li>
            </ul>
        </div>
        <div class="col-md-2"><p>Phim Lẻ</p>
        </div>
        <div class="col-md-2"><p>Phim Lẻ</p>
        </div>
        <div class="col-md-3">
            <span>Liên hệ quảng cáo:</span>
            <span>Email: contact@phimvip.com</span>
            <span>IP của bạn:</span>
            <span>171.246.62.230</span>
        </div>
    </div>
</div>