<!--<div id="menu">
    <ul class="menu-1">
        <li><a href="#">HOME</a></li>
        <li><a href="#">PHIM MỚI</a></li>
        <li><a href="#">THỂ LOẠI</a>
            <ul class="sub-menu">
                <li class="aa"><a href="#">Phim hành động</a></li>
                <li class="aa"><a href="#">Phim hài hước</a></li>
                <li class="aa"><a href="#">Phim cổ trang</a></li>
                <li class="aa"><a href="#">Phim hành động</a></li>
                <li class="aa"><a href="#">Phim hài hước</a></li>
                <li class="aa"><a href="#">Phim cổ trang</a></li>
                <li class="aa"><a href="#">Phim hành động</a></li>
                <li class="aa"><a href="#">Phim hài hước</a></li>
                <li class="aa"><a href="#">Phim cổ trang</a></li>
            </ul>
        </li>
        <li><a href="#">QUỐC GIA</a>
            <ul class="sub-menu">
                <li class="aa"><a href="#">Phim hành động</a></li>
                <li class="aa"><a href="#">Phim hài hước</a></li>
                <li class="aa"><a href="#">Phim cổ trang</a></li>
                <li class="aa"><a href="#"></a></li>
                <li class="aa"><a href="#"></a></li>
            </ul>
        </li>
        <li><a href="#">PHIM LẺ</a>
            <ul class="sub-menu">
                <li class="aa"><a href="#">Phim hành động</a></li>
                <li class="aa"><a href="#">Phim hài hước</a></li>
                <li class="aa"><a href="#">Phim cổ trang</a></li>
                <li class="aa"><a href="#"></a></li>
                <li class="aa"><a href="#"></a></li>
            </ul>
        </li>
        <li><a href="#">PHIM BỘ</a></li>
        <li><a href="#">PHIM CHIẾU RẠP</a></li>
       
    </ul>
</div>-->


<div id="menu">
    <ul class="menu-1">
        <li ng-repeat="menu in menus"><a href="#">{{menu.ten}}</a>
            <ul class="sub-menu">
                <li class="aa" ng-repeat="menu in menu.menucon[0]"><a href="#">{{menu.ten}}</a></li>
            </ul>
        </li>
    </ul>
</div>




