<ul class="menu-1">
    <li ng-repeat="menu in menus"><a href="#">{{menu.ten}}</a>
        <ul class="sub-menu">
            <li class="aa" ng-repeat="menu in menu.menucon[0]"><a href="#">{{menu.ten}}</a></li>
        </ul>
    </li>
</ul>
