<div id="duongdan">
    <a href="#">PHIM MỚI</a>
    <span>/</span>
    <a href="#">PHIM LẺ</a>/
    <span>/</span>
    <a href="#">PHIM HÀNH DỘNG</a>/
</div>
<!-- STRAT CỘT 1 -->
<div class="row1">
    <!-- STRAT XEM CHI TIẾT PHIM -->
    <div id="chitietxemphim">
        <div class="row1_chitietxemphim">
            <img src="assets/image/hinhanhphim/{{film.hinhanh1}}" width="322" height="425" />
            <div class="bongmo">
                
            </div>
            <div class="button">
                <input type="button" class="btn btn-primary" value="Trailer"/>
                <a type="button" class="btn btn-success" href="#/xemphim/{{film._id}}"/>Xem Phim</a>
                
                
            </div>
            
        </div>
        <div class="row2_chitietxemphim">
            <div class="title">
                <span class="tenphim">{{film.tenphim_tiengviet}}</span>
                <span style="font-size:12px;" class="tenphim_english">{{film.tenphim_tienganh}}</span>
            </div>
            <div class="mota">
                <div class="content_mota">
                    <p>Trạng thái:<span style="color:red">Hoàn tất<span> </p>
                    <p>Điểm IMDb:7.4(27,686 votes)</p>
                    <p>Đạo diễn: <a href="#">F. Gary Gray</a> </p>
                    <p>Quốc gia:<a>{{film.quocgia}}</a> </p>
                    <p>Năm:{{film.namsanxuat}}</p>
                    <p>Ngày ra rạp:14/4/2017</p>
                    <p>Thời lượng: {{film.sophut}} phút</p>
                    <p>Chất lượng: {{film.chatluong}} </p>
                    <p>Độ phân giải:Full HD</p>
                    <p>Ngôn ngữ: {{film.ngonngu}}</p>
                    <p>Thể loại:<a href="#">Phim hành động</a>, <a href="#">Phim hình sự</a>, <a href="#">Phim hồi hộp-Gây cấn</a>, <a href="#">Phim chiếu rạp</a>, <a href="#">Phim lẻ</a></p>
                    <p>Công ty SX: {{film.congty}}</p>
                    <p>Lượt xem: {{film.luotxem}}</p>
                </div>
            </div>
            <div class="danhgiaphim">
                <p>Đánh giá phim <span style="font-size: 12px;color: #ddd;">(181 lượt)</span></p>
            </div>
            
        </div>
        <div style="clear: both"></div>
        <div class="noidungphim">
            <span>NỘI DUNG PHIM</span>
            <p>{{film.noidungphim}}</p>
            <div><img src="assets/image/hinhanhphim/{{film.hinhanh2}}" alt="" width="100%" height="470"/></div>      
        </div>
    </div>
    <!-- END XEM CHI TIẾT PHIM -->
    
    <div class="listphim">
        <h3>Có Thể Bạn Cũng Muốn Xem</h3>
        <ul>
            <li class="film">
                <div class="image">
                    <img src="image/poster.thumb.jpg" alt="" width="204" height="275" />
                </div>
                <div class="title">
                    <a href="#">Người đẹp và Quái vật</a>
                </title>
                <br />
                <div class="sub-title">
                    <a href="#" >Beauty and the Beast</a>
                </div>
                <p>120 phut</p>
            </li>
            <li class="film">
                <div class="image">
                    <img src="image/poster.thumb.jpg" alt="" width="204" height="275" />
                </div>
                <div class="title">
                    <a href="#">Người đẹp và Quái vật</a>
                </title>
                <br />
                <div class="sub-title">
                    <a href="#" >Beauty and the Beast</a>
                </div>
                <p>120 phut</p>
            </li>
            <li class="film" style="margin-right:0px;">
                <div class="image">
                    <img src="image/poster.thumb.jpg" alt="" width="204" height="275" />
                </div>
                <div class="title">
                    <a href="#">Người đẹp và Quái vật</a>
                </title>
                <br />
                <div class="sub-title">
                    <a href="#" >Beauty and the Beast</a>
                </div>
                <p>120 phut</p>
            </li>
            <li class="film">
                <div class="image">
                    <img src="image/poster.thumb.jpg" alt="" width="204" height="275" />
                </div>
                <div class="title">
                    <a href="#">Người đẹp và Quái vật</a>
                </title>
                <br />
                <div class="sub-title">
                    <a href="#" >Beauty and the Beast</a>
                </div>
                <p>120 phut</p>
            </li>
        </ul>
    </div>
</div>