
<ul>
     <li ng-repeat="film in films">
        <a href="#/thongtinphim/{{film._id}}">
            <div class="trailer_pm_img">
                <img src="assets/image/hinhanhphim/{{film.hinhanh1}}" width="96" height="129" />
            </div>
            <div class="trailer_pm_info">
                <div class="trailer_pm_info_title">
                    <span title="{{film.tenphim_tiengviet}}">{{film.tenphim_tiengviet.slice(0,16)+"..."}}</span>
                </div>
                <div class="trailer_pm_info_etitle">
                    <p>{{film.tenphim_tienganh}}</p>
                </div>
                <div class="trailer_pm_info_sl">
                    Lượt xem: 2,345,666
                </div>
                <span class="rate-vote rate-vote-10"></span>
            </div>
            <div class="line">
            </div>
        </a>
    </li>
</ul>