
ul li{
	list-style: none;
}
@font-face {
			font-family: 'UTMCafetaRegular';
			src: url('../fonts/utm_cafeta-webfont.eot');
			src: url('../fonts/utm_cafeta-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/utm_cafeta-webfont.woff') format('woff'),
			 url('../fonts/utm_cafeta-webfont.ttf') format('truetype'),
			 url('../fonts/utm_cafeta-webfont.svg#UTMCafetaRegular') format('svg');
			font-weight: normal;
			font-style: normal;
		}
		
		.fontcafe {
			font-family: 'UTMCafetaRegular';
		}


/*================================= STRAT HEARDER ==================================*/
#header{
	height:75px;
	background:#CCC;
	padding:0px 200px;
	background: url(../image/background-header.gif) top left repeat;
}
	#header .logo{
		
	}
		#header .logo h3, #footer .logo h3{
		    color: #ebebeb;
			font-size: 24px;
			margin-bottom: 0px;
		}
			#header .logo h3 span, #footer .logo h3 span{
				color: #8f8533;
				display:inline-block;
			}
		#header .logo > span, #footer .logo > span{
		        color: #25525b;
				font-size: 14px;
		}
	#header .timkiem, #header .dang_dangki{
		margin-top:20px;
	}
		#header .timkiem input.form-control{
			background: #303137;
		}
	#header .dang_dangki{
		
	}
/*================================= END HEARDER ==================================*/


/*================================= START MENU ==================================*/
#menu ul li{
	list-style: none;
}

#menu{
	height: 40px;
	background-color: #323031;
	text-align: center;
	padding:0px 170px;

}

	#menu ul{
		width: 980px;
		margin: 0px auto;
	}

		#menu ul li{
			float: left;
			line-height: 40px;
			padding: 0px 17px;
			cursor: pointer;
			position: relative;
		}

		#menu ul li:hover{
			background-color: #292929;
		}
			#menu ul li:hover a{
				color: #FF0;
			}

			#menu ul li:hover .sub-menu{
				position: absolute;
				top: 40px;
				left:-1px;
				display: block;
				padding: 0px;
				max-width: 830px;
			}
				#menu ul li:hover .sub-menu li{
					padding: 0px 10px;
				}
				#menu ul li:hover .sub-menu a{
					color: #fff;
					font-weight: normal;
				}

				#menu ul li a{
					
					text-decoration: none;
					color: #fff;
					text-transform: uppercase;
					text-shadow: 1px 1px 1px #1a1a1a;
    				font: 20px/22px 'UTMCafetaRegular';
				}

	#menu .sub-menu{
		background-color: #292929;
		display: none;
		border: 1px solid #79777A;
		border-top: none;
		padding: 0px;
		z-index:1;
		
	}
		#menu .sub-menu li a{
			font: bold 14px Arial, Helvetica, sans-serif;
			text-transform:capitalize;
		}

/*================================= END MENU ==================================*/

/*================================= START SLIDER ==================================*/
#slide{
	background-color: #333;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	overflow: hidden;
	margin-bottom:20px; 
}
	#slide h3{
		word-spacing:-2px;
		color:#dacb46;
		text-transform:uppercase;
	}
	#slide #prevTop{
		position: absolute;
		top: 115px;
		left: 15px;
		background:#000;
		background:#000;
		width:32px;
		height:86px;
		opacity:0.5;
	}
	#slide #prevTop:hover{
		opacity:1;
		cursor:pointer;
	}
		#slide #prevTop .arrow-icon.left {
			background: url("../image/image.png") no-repeat -2px -535px;
			height: 24px;
			width: 16px;
			display: block;
			margin:28px 8px;
			
			
		}
	#slide #nextTop{
		position:absolute;
		top:115px;
		right:13px;
		background:#000;
		width:32px;
		height:86px;
		opacity:0.5;
	}
	#slide #nextTop:hover{
		opacity:1;
		cursor:pointer;
	}
		#slide #nextTop .arrow-icon.right {
			background: url("../image/image.png") no-repeat -23px -535px;
			height: 24px;
			width: 16px;
			display: block;
			margin:28px 8px;
		}
	#slide ul{
		text-align: left;
		float: none;
		top: 0px;
		right: auto;
		bottom: auto;
		left: 0px;
		margin: 0px;
		width: 10406px;
		height: 300px;
		z-index: auto;
	}

		#slide ul li{
			width: 225px;
			height: 300px;
			background-color: #ff0;
			float: left;
			margin-right: 17px;
		}

			#slide ul li .slide-image{
				z-index: 0;
			}
			#slide .slide-film .slide-bg{
				height: 60px; 
				background-color: rgba(0,0,0,0.8);
				opacity: 0.5;
				margin-top: -72px;
			}

			#slide .slide-film .slide-title{
				margin-top: -50px;
				position: absolute;
				line-height: 40px;
				padding: 0 5px;
			}
				#slide .slide-film .slide-title a{
					text-decoration: none;
					color: #dacb46;
					font: bold 14px Arial, Helvetica, sans-serif;
					text-transform: uppercase;	
				}
				#slide .slide-film .slide-title a:hover{
					color: #ff8040;
				}
					#slide .slide-film .slide-title p{
						color: #fff;
						font-size: 12px;
						display: block;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 100%;
						text-decoration: none;
						margin: 5px 0px;
					}
					
    

/*================================= END SLIDER ==================================*/
/*================================= START QUANG CAO ==================================*/
 #quangcao{
	position:relative;
	z-index:0;
}
	#quangcao .quangcaoleft{
		position:absolute;
		top:0px;
		left:12px;
	}
	#quangcao .quangcaoright{
		position:absolute;
		top:0px;
		right:12px;
	}
	#quangcao .quangcaotren{
		position:absolute;
		top:0px;
		left:185px;
		width:980px;
	}
/*================================= END QUANG CAO ==================================*/

/*================================= START FOORTER==================================*/
#footer{
	background:url(../image/footer.jpg) top left repeat;
	margin:0px 185px;
	height: 210px;
	border-top: 3px solid #C1C1C1;
}
#footer .info-footer{
	margin-top: 25px;
}
#footer a{
	color: #fff;
	text-decoration: none;
}
	#footer a:hover{
		color: #dacb46;
	}
#footer p{
	font: 24px/25px 'UTMCafetaRegular';
	font-weight: bold;
    color: #44E2FF;
    display: block;
    padding-bottom: 5px; 
}
#footer span{
	color: #fff;
	display:block;
}
/*================================= END FOORTER ==================================*/


/*================================= STRAT DƯỜNG DẪN ==================================*/

#duongdan{
	background:#000;
	width:100%;
	border-radius:10px;
	height:30px;
	padding:5px;
	margin-bottom:10px;
}
	#duongdan a{
		color: #46E1FF;
	}
	#duongdan a:hover{
		color: #dacb46;
		text-decoration:none;
	}
	#duongdan span{
		color: #999999;
	}
/*================================= END ĐƯỜNG DẪN ==================================*/

/*================================= START LIST PHIM ==================================*/
.row1 ul li{
	float:left;
	width: 162px;
	height: 350px;
	border:solid 1px #000;
	margin-right:5px;
	margin-bottom:20px;
	border-bottom: 1px solid #868489;
	background: url(../image/khung.gif) left top repeat;
}

	.row1 .film .image{
		height: 275px;
		cursor: pointer;
		border: solid 1px #000;
	}
	.row1 .film .image:hover{
		opacity: 0.6;
	}
	.row1 .film .title{
	
		background: url(../image/khung.gif) left top repeat;
	}
	
	.row1 .film .info{
		padding-left: 10px;
		padding-top: 5px;
	}
		.row1 .film .title a{
			font-weight: 700;
			font-size: 13px; 
			text-decoration: none;
			color: #46E1FF;
			
		}
		.row1 .film .title a:hover{
			color: #dacb46;
		}
	.row1 .film .sub-title{
		margin-top: 5px;
	}
		.row1 .film .sub-title a{
			color:#fff;
			font-size:10px;
		}
		.row1 .film .sub-title a:hover{
			color: #dacb46;
			text-decoration: none;
		}
	.row1 .film p{
		color: #777;
		margin-top: 4px;
		margin-bottom:0px;
	}
/*================================= END LIST PHIM ==================================*/

/*================================= STRAT CHI TIẾT PHIM ==================================*/
#chitietxemphim{
	background:#999;
	display: inline-block;
	padding:7px;
	margin-bottom:10px;
	background:url(../image/chitietphim.jpg) top left repeat;
}
	#chitietxemphim .row1_chitietxemphim{
		margin-right:20px;
		height:425px;
		background:#369;
		float:left;
		position:relative;
	}
		#chitietxemphim .row1_chitietxemphim .bongmo{
			height:60px;
			width:322px;
			background:#000;
			position:absolute;
			bottom:0px;
			opacity:0.6;
			
		}
			#chitietxemphim .row1_chitietxemphim .button{
				position:absolute;
				bottom:11px;
				left:85px;
				
			}
	#chitietxemphim .row2_chitietxemphim{
		float:right;
	}
		#chitietxemphim .row2_chitietxemphim .title{
			width:310px;
			height:62px;
			
		}
			#chitietxemphim .row2_chitietxemphim .title span.tenphim{
				color: #dacb46;;
				display:block;
				text-transform: uppercase;
    			font: 26px 'UTMCafetaRegular';
				display: block;
			}
			#chitietxemphim .row2_chitietxemphim .title sapn.tenphim_english{
				color:#999;
				
			}
		#chitietxemphim .row2_chitietxemphim .mota{
			background:url(../image/mota_content.jpg) top left repeat;
			height:270px;
			width:310px;
			overflow:auto;
		
		}
		#chitietxemphim .row2_chitietxemphim .content_mota{
			padding:7px;
		}
			#chitietxemphim .row2_chitietxemphim .content_mota p{
				color:#bbb;
				font-size:13px;
			}
		#chitietxemphim .row2_chitietxemphim .danhgiaphim{
			background:url(../image/mota_content.jpg) top left repeat;
			height:75px;
			width:310px;
			margin-top:7px;
			padding:7px;
		}
			#chitietxemphim .row2_chitietxemphim .danhgiaphim p{
				color: #dacb46;
				font-size: 20px;
			}
	.noidungphim{
		width: 100%;
		padding: 10px;
		margin-top: 10px;
		background:url(../image/mota_content.jpg) top left repeat;
		/*background:url(../image/chitietphim.jpg) top left repeat;*/
	}
		.noidungphim span{
			font-size: 16px;
			color:#dacb46;
			font-weight: bold;

		}
		.noidungphim p{
			color: #bbb;
			font-size: 13px;
			margin-top:15px;
			line-height: 24px;
		}
		.listphim ul{

		}
			.listphim ul li{

			}
		.listphim h3, #content h4{
			background: url(../image/divider_line.gif) bottom repeat-x;
		    margin-bottom: 20px;
		    font: 24px/40px 'UTMCafetaRegular';
		    text-transform: uppercase;
		    text-shadow: 1px 1px 1px #1a1a1a;
		    color: #dacb46;
			 margin-bottom: 6px;
		}
			.listphim li.film{
					float:left;
					width: 206px;
					height: 350px;
					border:solid 1px #000;
					margin-right:25px;
					margin-bottom:20px;
					background: url(image/khung.gif) left top repeat;
				}

				.listphim .film .image{
					height: 275px;
					cursor: pointer;
				}
				.listphim .film .image:hover{
					opacity: 0.6;
				}
				.listphim .film .title{
					padding: 5px;
					background: url(../image/khung.gif) left top repeat;
				}
					.listphim .film .title a{
						font-weight: 700;
						font-size: 13px; 
						text-decoration: none;
						color: #46E1FF;
						
					}
					.listphim .film .title a:hover{
						color: #dacb46;
					}
				.listphim .film .sub-title{
					margin-top: 5px;
				}
					.listphim .film .sub-title a{
						color:#fff;
						font-size:10px;
					}
					.listphim .film .sub-title a:hover{
						color: #dacb46;
					}
				.listphim .film p{
					color: #777;
					margin-top: 4px;
					margin-bottom:0px;
				}
/*================================= END CHI TIẾT PHIM ==================================*/

/*================================= START DANG KI PHIM ==================================*/
.container {
    background-color: #000;
}

button.btn.btn-primary.pull-right {
    width: 164px;
}

.container .radio label {
    padding-right: 10px;
}

span.label.pull-right {
    line-height: 34px;
        font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.container .row {
    padding-top: 15px;
    /* line-height: 34px; */
}
.clr{
	clear: both;
}


/*================================= END DANG KI PHIM ==================================*/

/*================================= START TRAILER PHIM ==================================*/
.trailer_pm{
	width: 300px;
	height: 390px;
	background: url(../image/background_trailer.gif) left top repeat;
	margin: 20px auto;
	padding: 10px;
	overflow: auto;
}

	.trailer_pm ul{
		padding: 0px;
		height: 500px;
	}
	a{
		

	}
		.trailer_pm ul li{
			padding: 0px;
			min-height: 145px;
			border-bottom: 1px solid #333;
		}
	
			.trailer_pm ul li a:hover .trailer_pm_img{
				opacity: 0.8;
			}
			.trailer_pm ul li a:hover{
				text-decoration: none;
			}
				.trailer_pm ul li a:hover span{
				color: #dacb46;
			}
	.trailer_pm .trailer_pm_img{
		border: 2px solid #999;
		float: left;
		border-radius: 3px;
	}
	
	.trailer_pm .trailer_pm_info{
		padding: 0 10px;
		margin-left: 100px;
	}
	
	.trailer_pm .trailer_pm_info span{
		font-size: 13px;
		color: #46E1FF;
		font-weight: bold;
		margin-bottom: 5px;
		margin-right: 5px;
		font-weight: bold;
	}
	
	.trailer_pm .trailer_pm_info p{
		color: #fff;
		font: 11px normal Arial, Helvetica, sans-serif;
		margin: 10px 0;
	}
	.trailer_pm .trailer_pm_info .trailer_pm_info_sl{
		color: #46E1FF;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	.trailer_pm .trailer_pm_info .rate{
		margin-top: 8px;
	}
.rate-vote {
    background: url(../image/image.png) no-repeat;
    height: 20px;
    width: 90px;
    display: block;
}
.rate-vote-10 {
    background-position: -4px -564px;
}

/*================================= END TRAILER PHIM ==================================*/

/*================================= START ĐĂNG NHẬP  ==================================*/
#dangnhap, #dangki{
	background: url(../image/item_bg.gif) repeat;
	padding: 20px;
	margin-top: 20px;
}
	#dangnhap .dangnhapface{
	    background: transparent url(../image/image.png) -177px -1px;
	    width: 161px;
	    height: 38px;
	    display: inline-block;
	}
	#dangnhap .dangnhapface:hover{
		background: transparent url(../image/image.png) -177px -42px;
		width:161px;
		height:38px;
		display:inline-block;
	}
	#dangki label, #dangnhap label{
		color: #ddd;
	}
	#dangki .form-control, #dangnhap .form-control {
	    background-color: #333 ;
	    border: 1px solid #111 ;
	    color: #b8b8b8 ;
	}
	#dangnhap .btn-default {
	    color: #ffffff;
	    background-color: #474949;
	    border-color: #474949;
	}
	#dangnhap [type=button].btn:hover{
		background-color: #333;
		border: 1px solid #111 ;
	}

#dangki{
	background: url(../image/item_bg.gif) repeat;
	padding: 20px;
	margin-top: 20px;
}

/*================================= END ĐĂNG NHẬP  ==================================*/

/*================================= START ĐĂNG NHẬP THÀNH CÔNG ==================================*/
.dangnhapthanhcong{
	margin-top: 20px;
}
.dangnhapthanhcong .ten {
	cursor: default;
    color: #ffffff;
    background-color: #333;
}
.btn-down{
	height: 34px;
     color: #ffffff;
    background-color: #333;
}
.btn-down:hover{
	 background-color: #555;
}
/*================================= END ĐĂNG NHẬP THÀNH CÔNG ==================================*/
.btn_dangnhap{
	background: transparent url(../image/image.png) no-repeat -79px 0;
    width: 93px;
    height: 38px;
    display: inline-block;
    float: left;
}
.btn_dangnhap:hover{
	background: transparent url(../image/image.png) no-repeat -79px -41px;
	width: 93px;
	height: 38px;
	display: inline-block;
	float: left;	
}
.btn_dangki{
	background: transparent url(../image/image.png) no-repeat 0 0;
    width: 79px;
    height: 38px;
    display: inline-block;
    float: left;
}

.btn_dangki:hover{
	background: transparent url(../image/image.png) no-repeat 0 -41px;
}





.xemphim{
	background: url(../image/chitietphim.jpg);
	padding: 10px;
	color: #fff;
}

.xemphim .info{
	padding: 5px;
}

.xemphim .info .info_img{
	float: left;
	position: relative;
}

.xemphim .info .info_img .trailer{
	background-color: rgba(0, 0, 0, 0.8);
	height: 40px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	
}
.xemphim .info .info_img .trailer:hover{
	background-color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
}
.xemphim .info .info_img a:hover{
	color: #dacb46;
}
.xemphim .info .info_img  a{
	color: #46E1FF;
	text-decoration: none;
	position: absolute;
	bottom: 10px;
	left: 40px;
}
.xemphim .info .info_ct{
	margin-left: 20px;
	float: left;
	width: 470px;
}

.xemphim .info .info_ct b{
	text-transform: uppercase;
    font: 26px 'UTMCafetaRegular';
    color: #dacb46;
	font-weight: bold;
}
.xemphim .info .info_ct .mota{
	padding: 10px;
	height: 110px;
	margin-top: 20px;
	background: #222;
	border: 1px solid #121212;
	font-family: Arial, sans-serif;
	font-size: 12px;
	border-radius: 6px;
}
.xemphim .info .info_ct .mota a{
	color: #46E1FF;
	text-decoration: none;
}
.xemphim .info .info_ct .mota a:hover{
	color: #dacb46;
}
/*===================FILM===========================*/
.xemphim .film{
	height: 405px;
	padding: 5px;
	background-color: #fff;
	margin-top: 10px;
}