
<div class="row">
    <div class="logo col-md-4">
        <h3>PhimVip<span>.Com</span></h3>
        <span>Xem Phim Mới Chất Lượng Cao</span>
    </div>
    <div class="timkiem col-md-4">
        <input type="text" class="form-control" placeholder="Tìm: tên điện thoại">
        
    </div>
    <div class="col-md-1"></div>
    <div class="dang_dangki col-md-3" ng-if="!cooki">
        <div class="btn-group">
             <a class="btn_dangki" href="#/dangki"></a>
            <a class="btn_dangnhap"  href="#/dangnhap"></a>
        </div>
    </div>
        <div ng-if="cooki" class="dangnhapthanhcong col-md-3">
        <div class="btn-group " >
            <button type="button" style="color: white" class="btn btn ten btn-small">Xin chào, 
                <span class="">{{username}}</span>
            </button>
            <button type="button" style="color: #fff;" class="btn btn btn-down dropdown-toggle btn-small" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="tai-khoan/ho-so.html">Thông tin tài khoản</a></li>
                <li><a href="tai-khoan/doi-mat-khau.html">Đổi mật khẩu</a></li>
                <li class="divider"></li>
                <li><a class="" href="" ng-click="removecooki()">Thoát</a></li>
            </ul>
        </div>
    </div>
</div>

