<div class="row1">
    <div class="xemphim">
        <div class="info">
            <div class="info_img">
                <img src="assets/image/hinhanhphim/{{film.hinhanh1}}" width="147" height="218" />
                <div class="trailer">
                   
                </div>
                 <a href="#">Xem trailer</a>
            </div>
            <div class="info_ct">
                <b>{{film.tenphim_tiengviet}}</b><br />
                <span style="color: #999;">{{film.tenphim_tienganh}}</span>
                <div class="mota">
                    <p style="color: #BBB;">{{film.noidungphim.slice(0,150)}}</p>
                    
                    <a style="display: block;" href="#">[xem thêm]</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="film">
        
        <video poster="assets/image/hinhanhphim/{{film.hinhanh1}}" ng-src="{{duongdan}}"  width="100%" height="100%" controls="controls">
        </video>
       

       
    </div>
</div>