<div class="row1">
    
<div id="dangnhap">
        <div id="duongdan">
        <a href="#">PHIM MỚI</a>
        <span>/</span>
        <a href="#">PHIM LẺ</a>/
        <span>/</span>
        <a href="#">PHIM HÀNH DỘNG</a>/
    </div>
    <form class="form-horizontal" ng-submit="submit()">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Tài Khoản</label>
            <div class="col-sm-5">
                <input  type="text" placeholder="Tài Khoản" ng-model="taikhoan" class="form-control" ng-change="change()">
            </div>
            
            <div class="col-sm-4">
                <a class="dangnhapface"></a>
            </div>
            <div class="col-sm-offset-1"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-5">
                <input ng-change="change()" type="password" ng-model="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" > nghi nhớ
                    </label>
                </div>
            </div>
            <div class="col-sm-offset-1"></div>
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-lg-10">
                <button ng-disabled ="disable()" type="submit" class="btn btn-primary">Đăng Nhập</button>
                <button type="button" class="btn btn-default" >Quên mật khẩu</button>
            </div>
        </div>
    </form>
</div>
</div>